apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
spec:
  replicas: {{ .Values.app.replicas }}
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: student-app
        image: {{ .Values.app.image }}
        env:
        - name: DB_HOST
          value: student-db
        - name: DB_PORT
          value: "{{ .Values.db.port }}"
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: student-db-secret
              key: mysql-database
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: student-db-secret
              key: mysql-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: student-db-secret
              key: mysql-password
        ports:
        - containerPort: {{ .Values.app.containerPort }}
